.Card {
  width: 18%;
  height: 40vh;
  background-color: rgba(8, 30, 43, 1) 100%;
  box-shadow: 5px 4px 19px -4px rgba(255, 255, 255, 0.61);
  padding: 25px;
  margin: 25px;
  border-radius: 20px;
  color: white;
  transition: 0.3s all ease;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.Card h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 2.3rem;
}

.Card p {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
}

.Card span {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  display: block;
  font-size: 1.2rem;
}

.Card:hover {
  color: rgb(16, 16, 56);
  background-color: white;
}
